/.ContarDiasDomain.java._trace
/.ContarDiasArena.java._trace
/.DateTimeTransformer.java._trace
/.ContarDiasArena.xtendbin
/.DateTimeTransformer.xtendbin
/ContarDiasArena.java
/DateTimeTransformer.java
